@CHARSET "UTF-8";

#topo {
	background: #8B658B url("Camara-federal-vazia.jpg") no-repeat right;
	position: relative;
	width: 980px;
	height: 100px;
	text-aling: center;
}

#topo h1 {
	position: absolute;
	left: 50px;
	top: 15px;
	font-size: 28px;
	color: #F0FFF0;
	margin: 0;
}

#navegacao {
	position: absolute;
	left: 50px;
	top: 75px;
	margin: 0;
	padding: 0;
}

#navegacao li {
	display: inline;
	margin-right: 2px;
	list-style-type: none;
}

#navegacao a {
	color: #00FF33;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 15px 8px 15px;
}

#navegacao li a:hover {
	background: #ffefd5;
	font-color: #000;
	font-weight: bold;
}